<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276167750137-8st47qol10bn7gb247tj32cifn2h3abr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276167750137-8st47qol10bn7gb247tj32cifn2h3abr</string>
	<key>API_KEY</key>
	<string>AIzaSyDKNwZ14xuEaIclPu_aP2FN0gB92xBAoek</string>
	<key>GCM_SENDER_ID</key>
	<string>276167750137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owlinator.app</string>
	<key>PROJECT_ID</key>
	<string>iot-project-f75da</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-project-f75da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:276167750137:ios:3d9f64555dbdae36bfcd28</string>
	<key>DATABASE_URL</key>
	<string>https://iot-project-f75da-default-rtdb.firebaseio.com</string>
</dict>
</plist>
